h1{
            background-color: rgb(159, 218, 159); 
            color: rgb(139, 139, 139);
            text-align: center;
  }

  p{
    background-color: aqua;
  }

  body{
    background-color: black;
  }